*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #e2c35d, #d88771);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

header{
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    outline: none;
    padding: 0.5rem;
    font-size: 2rem;
    border:none;
    background: white;
}


form button {
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #d88771;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {

    outline: none;
    background: none;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;

}

.trash-btn:hover {
    background: none;
    color: rgba(226, 26, 26, 0.856);
    transition: all 0.3s ease;
}

.complete-btn {
    background: rgb(73, 204, 73);
}
.complete-btn:hover {
    background: rgb(50, 160, 50);
    color: white;
    transition: all 0.3s ease;
}


.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash-alt,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(4rem) rotateZ(20deg);
    opacity: 0;
}

.btn {
	border: none;
	font-family: 'Lato';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

.btn-2 {
	background: #2ecc71;
	color: #fff;
}

.btn-2:hover {
	background: #27ae60;
}

.btn-2:active {
	background: #27ae60;
	top: 2px;
}

.btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}